.swiper {
  width: 400px;
  height: 487px;
}

.swiper-slide {
  background: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 13px 16px rgba(255, 255, 255, 0.84);
  border-radius: 8px;
}

.swiper-slide img {
  margin-top: 50px;
}

.swiper__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin: 25px 0;
}

.swiper__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  padding: 0 43px;
}

.swiper__button {
  background: linear-gradient(180deg, #007EC3 0%, #06A791 100%);
  box-shadow: 0px 2.46px 7.38px rgba(255, 255, 255, 0.43);
  border-radius: 4.92px;
  font-weight: 400;
  font-size: 13.12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 16px;
  margin-top: 43px;
}

.arrows {
  display: flex;
  justify-content: space-between;
}

.button-next,
.button-prev {
  cursor: pointer;
}

.button-next {
  position: absolute;
  left: 950px;
  top: 50%;
}

.button-prev {
  position: absolute;
  right: 950px;
  top: 50%;
}

@media (max-width: 1200px) {
  .button-prev,
  .button-next {
    display: none;
  }

  .swiper__button {
    display: none;
  }

  .swiper {
    width: 335px;
    height: 354px;
  }
  
  .swiper__title {
    font-size: 30px;
    margin: 0;
  }

  .swiper__descr {
    font-size: 18px;
    padding: 0;
  }

  .swiper-slide img {
    width: 77px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 15px;
  }
}